
* {box-sizing:border-box}

/* This is the main box for the slideshow */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}


/* This hides the images by default */
.mySlides {
    display: none;
}

/* Remeber our div class of "caption"? the magic happens here */
.caption {
  color: #ff753b ;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 65%;
  text-align: center;
}

/* Now for the order numbers */
.order {
  color:  #ff753b ;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The navigation dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


h1 {
        font: bold "Helvetica";
        margin: 0 auto;
        text-align: center;
}

p {
    font: "Helvetica";
    text-align: center;
}

body {
    background-color: #0000;
}
