
/* This is the main box where my slideshow lives */
.slideshow-main {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* This will hide my images by default */
.slideshow {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 35%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* remember our div for caption? this is where the magic happens */
.caption {
  color: #FFFFFF;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* now for the order numbers */
.order {
  color: #FFFFFF;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


h1 {
        font: bold "Helvetica";
        margin: 0 auto;
        text-align: center;
}

p {
    font: "Helvetica";
    text-align: center;
}

body {
    background-color: #0000;
}
